@media(max-width:1050px) {
    .section5-title {
        max-width: 300px;
    }



    .section6 .content {
        margin-right: 0;
    }

    .section6 img {
        left: -70px;
        top: -135px;
        width: 61%;
        min-width: 450px;
        height: auto;
    }

    .section6-title {
        max-width: 400px;
    }

    .section6-text {
        max-width: 400px;
    }
}

@media(max-width:980px) {
    .header-text {
        flex-direction: column;
        justify-content: space-around;
        width: auto;
    }
}

@media(max-width:800px) {
    .section5 img {
        right: -40px;
        top: -130px;
        width: 350px;
    }

    .section6 {
        padding: 152px 0 90px;
    }

    .section6 img {
        left: -70px;
        top: -100px;
        width: 75%;
        min-width: 320px;
        height: auto;
    }

    .section6-title {
        max-width: 300px;
    }

    .section6-text {
        max-width: 300px;
    }
}

@media(max-width:750px) {
    .header-text {
        display: none;
    }
}

@media(max-width:725px) {
    .footer .container {
        flex-wrap: wrap;
    }

    .altadnsu {
        margin-bottom: 30px;
    }

    .side-left {
        margin-bottom: 32px;
    }
}

@media(max-width:700px) {
    .section1-card:first-child {
        margin-right: 120px;
    }

    .card-title {
        font-size: 22px;
    }

    .card-text {
        font-size: 14px;
    }

    .grid-section {
        gap: 40px 18%;
    }

    .section4-title {
        font-size: 35px;
    }

    .section5 {
        margin: 90px 0 70px;
    }

    .section5 img {
        right: -55px;
        top: -107px;
        width: 320px;
    }

    .section5-text {
        max-width: 340px;
    }
}