@media(max-width:540px) {
    /* general styles start */

    .section-title {
        font-style: normal;
        font-size: 24.7px;
        line-height: 113%;
    }

    .content-title {
        font-size: 18px;
        line-height: 111%;
    }

    .colorful-title {
        font-size: 40px;
        line-height: 120%;
    }

    /* general styles end */

    /* header styles start */

    .header-wrapper {
        padding: 32px;
    }

    .header-wrapper .header__image:nth-child(2),
    .header-wrapper .header__image:nth-child(3),
    .header-text {
        display: none;
    }

    /* -------------------------- */

    .header-content {
        padding: 113px 0 54px;
    }

    .header-title {
        font-size: 28px;
        line-height: 114%;
        text-transform: uppercase;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .header-content__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        max-width: 100%;
        margin-bottom: 6px;
    }

    .start {
        font-size: 13px;
        line-height: 129%;
        border-bottom: 1px dashed #FFE920;
        max-width: 186px;
        margin-bottom: 43px;
    }

    .header-content .header-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .header-content .header__image:first-child {
        width: 84px;
        margin-right: 28px;
    }

    .header-content .header__image:last-child {
        width: 64px;
    }

    /* header styles end */

    /* section1 styles start */

    .section1 {
        margin: 68px 0 88px;
    }

    .section-head {
        margin-bottom: 48px;
    }

    .section1-title {
        max-width: 100%;
    }

    .section-head .section__form {
        display: none;
    }

    .section1-content {
        flex-direction: column;
        justify-content: flex-start;
    }

    .section1-card {
        width: 100%;
    }

    .section1-card:first-child {
        margin-bottom: 42px;
    }

    .section1-card:last-of-type {
        margin-bottom: 56px;
    }

    .rocket {
        width: 53px;
        margin-bottom: 26px;
    }

    .section1-content-title {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .section1__text {
        max-width: 100%;
        font-size: 11px;
        line-height: 145%;
    }

    .hat {
        width: 60px;
        margin-bottom: 18px;
    }

    .section1-content-title-2 {
        max-width: 100%;
        margin-bottom: 13px;
    }

    .section1-content .section__form {
        display: block;
        width: 193px;
        height: 40px;
        font-weight: 500;
        padding:9px 29px;
        border-radius: 40px;
        
    }

    /* section1 styles start */

    /* section2 styles start */

    .section2 {
        padding: 73px 0 100px;
    }

    .grid-section {
        max-width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 53px 0;
    }

    .grid-title {
        margin-bottom: 15px;
    }

    .grid__text {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 11px;
        line-height: 145%;
        max-width: 100%;
    }

    .grid__down {
        font-size: 9px;
        line-height: 167%;
        opacity: 0.62;
    }

    /* section2 styles end */

    /* section3 styles start */

    .section3 {
        margin: 79px 0 56px;
    }

    .section3 img {
        top: -188px;
    }

    .section3-title {
        margin-bottom: 25px;
        max-width: 100%;
    }

    .section3-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section3-card:nth-of-type(1) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .section3-card:nth-of-type(2) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .section3-card:nth-of-type(3) {
        max-width: 100%;
    }

    .card-title {
        font-size: 18px;
        line-height: 111%;
        margin-bottom: 12px;
        width: 100%;
    }

    .section3-card:nth-of-type(odd) .card-title {
        max-width: 100%;
    }

    .section3-card:nth-of-type(2) .card-text {
        max-width: 100%;
    }

    .card-text {
        max-width: 100%;
        font-weight: 500;
        font-size: 11px;
        line-height: 145%;
    }

    /* section3 styles end */

    /* section4 styles start */

    .section4 {
        padding: 43px 0 68px;
    }

    .section4 .container {
        display: flex;
        flex-direction: column;
    }

    .rightside {
        display: none;
    }
    
    .leftside {
        width: 100%;
    }

    .section4 .container::before {
        content: 'KURS SEÇİN';
        font-family: 'Oswald';
        font-weight: 700;
        font-size: 24.7px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #30FFCD;
        margin-bottom: 30px;
    }

    .section4-title {
        font-size: 16px;
        padding: 20px;
        border: 1px solid #30FFCD;
        position: relative;
        margin-bottom: 50px;
    }

    .section4-title::after {
        content: '^';
        position: absolute;
        right: 20px;
        top: 23px;
    }

    .leftside__text {
        font-size: 11px;
        line-height: 145%;
        margin-bottom: 35px;
        max-width: 100%;
    }

    .section4__button {
        font-size: 11px;
        line-height: 145%;
        text-align: center;
        width: 135px;
        height: 40px;
        border: 1px solid #33DFC0;
    }

    /* section4 styles end */

    /* section5 styles start */

    .section5 {
        margin: 79px 0 84px;
    }

    .section5 img {
        display: none;
    }

    .section5-title {
        margin-bottom: 17px;
        max-width: 100%;
    }

    .section5-text {
        max-width: 370px;
        font-size: 11px;
        line-height: 145%;
    }

    /* section5 styles end */

    
}