@media(max-width:592px) {
    /* general styles start */
    
    body {
        min-width: 290px;
    }

    .section-title {
        font-style: normal;
        font-size: 24.7px;
        line-height: 113%;
    }

    .content-title {
        font-size: 18px;
        line-height: 111%;
    }

    .colorful-title {
        font-size: 40px;
        line-height: 120%;
    }

    /* general styles end */

    /* header styles start */

    .header-wrapper {
        padding: 32px;
    }


    .header-wrapper .header__image:nth-child(2),
    .header-wrapper .header__image:nth-child(3),
    .header-text {
        display: none;
    }

    .header-wrapper .header__image:first-child {
        width: 140px;
    }

    .header-wrapper .header__image img {
        width: 100%;
    }

    /* iconu düzəlt */

    .header-container::after {
        content: '';
        background: url(../images/icons8-menu-20.png);
        background-size: cover;
        width: 54px;
        height: 27px;
    }

    /* -------------------------- */

    .header-content {
        padding: 113px 0 54px;
    }

    .header-title {
        font-size: 28px;
        line-height: 114%;
        text-transform: uppercase;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .header-content__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        max-width: 100%;
        margin-bottom: 6px;
    }

    .start {
        font-size: 13px;
        line-height: 129%;
        border-bottom: 1px dashed #FFE920;
        max-width: 186px;
        margin-bottom: 43px;
    }

    .header-content .header-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .header-content .header__image:first-child {
        width: 84px;
        margin-right: 28px;
    }

    .header-content .header__image:last-child {
        width: 64px;
    }

    /* header styles end */

    /* section1 styles start */

    .section1 {
        margin: 68px 0 88px;
    }

    .section-head {
        margin-bottom: 48px;
    }

    .section1-title {
        max-width: 100%;
    }

    .section-head .section__form {
        display: none;
    }

    .section1-content {
        flex-direction: column;
        justify-content: flex-start;
    }

    .section1-card {
        width: 100%;
    }

    .section1-card:first-child {
        margin-bottom: 42px;
    }

    .section1-card:last-of-type {
        margin-bottom: 56px;
    }

    .rocket {
        width: 53px;
        margin-bottom: 26px;
    }

    .section1-content-title {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .section1__text {
        max-width: 100%;
        font-size: 11px;
        line-height: 145%;
    }

    .hat {
        width: 60px;
        margin-bottom: 18px;
    }

    .section1-content-title-2 {
        max-width: 100%;
        margin-bottom: 13px;
    }

    .section1-content .section__form {
        display: block;
        width: 193px;
        height: 40px;
        font-weight: 500;
        padding:9px 29px;
        border-radius: 40px;
        
    }

    /* section1 styles start */

    /* section2 styles start */

    .section2 {
        padding: 73px 0 100px;
    }

    .grid-section {
        max-width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 53px 0;
    }

    .grid-title {
        margin-bottom: 15px;
    }

    .grid__text {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 11px;
        line-height: 145%;
        max-width: 100%;
    }

    .grid__down {
        font-size: 9px;
        line-height: 167%;
        opacity: 0.62;
    }

    /* section2 styles end */

    /* section3 styles start */

    .section3 {
        margin: 79px 0 56px;
    }

    .section3 img {
        top: -188px;
    }

    .section3-title {
        margin-bottom: 25px;
        max-width: 100%;
    }

    .section3-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section3-card:nth-of-type(1) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .section3-card:nth-of-type(2) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .section3-card:nth-of-type(3) {
        max-width: 100%;
    }

    .card-title {
        font-size: 18px;
        line-height: 111%;
        margin-bottom: 12px;
        width: 100%;
    }

    .section3-card:nth-of-type(odd) .card-title {
        max-width: 100%;
    }

    .section3-card:nth-of-type(2) .card-text {
        max-width: 100%;
    }

    .card-text {
        max-width: 100%;
        font-weight: 500;
        font-size: 11px;
        line-height: 145%;
    }

    /* section3 styles end */

    /* section4 styles start */

    .section4 {
        padding: 43px 0 68px;
    }

    .section4 .container {
        display: flex;
        flex-direction: column;
    }

    .rightside {
        display: none;
    }
    
    .leftside {
        width: 100%;
    }

    .section4 .container::before {
        content: 'KURS SEÇİN';
        font-family: 'Oswald';
        font-weight: 700;
        font-size: 24.7px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #30FFCD;
        margin-bottom: 30px;
    }

    .section4-title {
        font-size: 16px;
        padding: 20px;
        border: 1px solid #30FFCD;
        position: relative;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section4-title::after {
        content: '';
        background: url(../images/icons8-sort-down-12.png);
        width: 12px;
        height: 12px;
        background-size: cover;


    }

    .leftside__text {
        font-size: 11px;
        line-height: 145%;
        margin-bottom: 35px;
        max-width: 100%;
    }

    .section4__button {
        font-size: 11px;
        line-height: 145%;
        text-align: center;
        width: 135px;
        height: 40px;
        border: 1px solid #33DFC0;
    }

    /* section4 styles end */

    /* section5 styles start */

    .section5 {
        margin: 79px 0 84px;
    }

    .section5 img {
        display: none;
    }

    .section5-title {
        margin-bottom: 17px;
        max-width: 100%;
    }

    .section5-text {
        max-width: 370px;
        font-size: 11px;
        line-height: 145%;
    }

    /* section5 styles end */

    /* section6 styles start */

    .section6 {
        padding: 166px 0 80px;
    }

    .section6 .container {
        flex-direction: column;
        justify-content: center;
    }

    .section6 img {
        width: 99%;
        left: auto;
        right: -32px;
        top: -230px;
        z-index: -2;
    }

    .section6-title {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .section6-text {
        font-size: 11px;
        max-width: 100%;
        margin-bottom: 40px;
    }

    .section6__form {
        width: 193px;
        height: 40px;
        border-radius: 40px;
        padding:9px 29px;
    }

    /* section6 styles end */

    /* footer styles start */

    .footer {
        margin: 72px 0 51px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .side-left {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 32px;
    }

    .altlogo {
        margin-bottom: 0;
        margin-right: 20px;
        width: 120px;
    }

    .instagram {
        width: 20px;
    }

    .side-center {
        max-width: 100%;
        align-items: flex-start;
        margin-bottom: 64px;
    }

    .mail-tel {
        max-width: 140px;
        margin-bottom: 15px;
        font-size: 11px;
        line-height: 145%;
    }
    
    .side-center .text {
        font-size: 11px;
        line-height: 145%;
    }

    .side-right {
        align-items: flex-start;
    }

    .altadnsu {
        width: 96px;
        margin: 0 0 21px 7px;
    }

    .alttehsil {
        width: 110px;
    }

    /* footer styles end */
}